:host {
    display: block;
    color:white;
    padding:2rem 3rem;
}
ul {
    margin-top: 2rem;
    list-style: none;
    padding: 0;
}
.contact-info li {
    display: grid;
    width: 100%;
    align-items: center;
    justify-content: center; 
    height: 30px;
    font-size: 1.4rem;
    font-weight: 500;
}
:host.pc .container {
    display: grid;
    gap:2rem;
}
:host.pc.contact-info {
    width: 400px;
    margin: 0 auto;
}
